name: Build docker image

on:
  push:
    branches:
      - main

    tags:
      - '*'

env:
  VALKEY90: '9.0.1'
  VALKEY81: '8.1.5'
  VALKEY80: '8.0.6'
  VALKEY72: '7.2.11'

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      valkey-versions: ${{ steps.set-matrix.outputs.valkey-versions }}
    steps:
      - id: set-matrix
        run: |
          cat << 'EOF' > versions.json
          [
            {"key": "valkey90", "version": "${{ env.VALKEY90 }}", "latest": "1", "latest_major": "1"},
            {"key": "valkey81", "version": "${{ env.VALKEY81 }}", "latest": "", "latest_major": "1"},
            {"key": "valkey80", "version": "${{ env.VALKEY80 }}", "latest": "", "latest_major": ""},
            {"key": "valkey72", "version": "${{ env.VALKEY72 }}", "latest": "", "latest_major": "1"}
          ]
          EOF
          echo "valkey-versions=$(cat versions.json | jq -c .)" >> $GITHUB_OUTPUT

  build:
    needs: setup
    strategy:
      matrix:
        valkey: ${{ fromJson(needs.setup.outputs.valkey-versions) }}
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v5
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build and push
        env:
          VALKEY_VER: ${{ matrix.valkey.version }}
          ARCH: ${{ matrix.arch }}
        run: |
          make
          make test
          make push

  push:
    runs-on: ubuntu-latest
    needs:
      - setup
      - build
    strategy:
      matrix:
        valkey: ${{ fromJson(needs.setup.outputs.valkey-versions) }}
    steps:
      - uses: actions/checkout@v5
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: ./.github/actions
        with:
          version: ${{ matrix.valkey.version }}
          latest: ${{ matrix.valkey.latest }}
          latest_major: ${{ matrix.valkey.latest_major }}